header{
    height: 13vh;
    background-color: lightgray;
    padding: 10px;
}

main{
    height: 26vh;
    text-align: center;
    padding: 35px 70px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    height: 13vh;
}

#blue-square{
    background-color: #4a90e2;
    height: 70%;
    margin: 10px;
    width: 80px;
}

#blue-line{
    background-color: #4a90e2
}

#green-line{
    background-color: #50e3c2
}

#light-green-line{
    background-color: #b8e986;
}

#yellow-line{
    background-color: #f8e71c
}