body{
    background-color: lightgray;
}

main{
    background-color: white;
    height: 72vh;
}

main, footer{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

header, footer{
    background-color: #4b4b4b;
}

header{
    height: 18vh;
}

footer{
    height: 10vh;
}